language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_TARGET=android-15
    - ANDROID_ABI=armeabi-v7a
android:
  components:
  - tools
  - platform-tools
  - build-tools-23.0.3
  - android-23
  - extra-android-m2repository
  - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
before_install:
    - yes | sdkmanager "platforms;android-27"
script:
  - ./gradlew jacocoTestReport
  - bash <(curl -s https://codecov.io/bash) -F unittests -f ./app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
  - bash <(curl -s https://codecov.io/bash) -F integration -f ./app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml