language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_TARGET=android-15
    - ANDROID_ABI=armeabi-v7a
android:
  components:
  - tools
  - platform-tools
  - build-tools-23.0.3
  - android-23
  - extra-android-m2repository
  - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
before_install:
    - yes | sdkmanager "platforms;android-27"
script:
  - ./gradlew jacocoUITestReport
  - ./gradlew jacocoUnitTestReport
  - bash <(curl -s https://codecov.io/bash) -F integration -f ./app/build/reports/jacoco/jacocoUITestReport/jacocoUITestReport.xml
  - bash <(curl -s https://codecov.io/bash) -F unit -f ./app/build/reports/jacoco/jacocoUnitTestReport/jacocoUnitTestReport.xml